<!DOCTYPE html>
<html>
<head>
    <title>MOVIE PARTY</title>
</head>

<body>
	<h1>MOVIE PARTY</h1>
	<h2>Let's start, write a word!!</h2>
	
	<form action="/posters" method="post" accept-charset="utf-8">
		<input type="text" name="word" placeholder="Put your word here...">
		<input type="submit" value="Let's go">
	</form>

</body>

</html>
